{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
{% endblock %}



<!--Footer -->
<div class="footer">
    <ul>
        <li><span class="social-icon social-facebook"> <a href ="https://www.facebook.com/omniplexcinemas/"> <i class="fa fa-facebook"></i></a> </span> </li>      
		<li><span class="social-icon social-google"><a href ="https://www.omniplex.ie/company/contact/dublin-rathmines"> <i class="fa fa-google"> </i> </a> </span> </li>
        <li><span class="social-icon social-instagram"><a href="https://www.instagram.com/omniplexcinemas/"> <i class="fa fa-instagram"> </i></a> </span> </li>
        <li><span class="social-icon social-twitter"><a href ="https://twitter.com/omniplexcinema"> <i class="fa fa-twitter"></i> </a></span></li>
		<li><span class="names">  Sampanna Pathak & Pranish Lama  </span> </li>
		
	</ul>


</div>


