<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="style2.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				
                <ul class ="menu">
				<li> <a href="/orgin"></i>Home</a></li>
				<li> <a href ="/aboutus"> About Us </a></li>
				
				<li><a href="/home">Profile Home</a></li>
				<li><a href="/profile">Profile Details</a></li>
				<li><a href="/logout"></i>Logout</a></li>
					
				</ul>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
