	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>Register</title>
			<link rel="stylesheet" href="style.css">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			<script src="script.js"></script>
		</head>
		<body>

			<nav>
				<!--Logo-->
				<a href="/orgin" class="logo">
					<img src ="logo.png">
				</a>
				
				<!--menu-->
				<ul class ="menu">
					<li> <a href="/orgin"></i>Home</a></li>
				<li> <a href ="/current"> Currently Playing </a></li>
				<li><a href="/home">Profile Home</a></li>
				<li><a href="/profile">Profile Details</a></li>
				<li><a href="/logout"></i>Logout</a></li>
					
				</ul>
				
				<!--Search-->
				<div class="search">
					<input type ="text" placeholder= "Search for Movie name.."/>
					<!--search icon-->
					<button type="submit"><i class="fa fa-search"></i></button>
					
				</div>

				
			</nav>

			<h1> Welcome Back </h1>
			<p>Welcome back, {{ account.username }}!</p>
			<!-- <div class="register">
				<h1>Movie Details</h1>
				<div class="links">
					User Details
					<a href="/moviedetails" class="active">Movie Details</a>
				</div>
				
				<table> 
					<tr> 
						<td> {{account[0].moviename}} </td>
					</tr>
				</table>
				
			</div> -->
		</body>
	</html>